.meme-generation {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
/* @media screen and (max-width: 1200px) {
  .meme-generation {
    gap: 230px;
  }
}
@media screen and (max-width: 750px) {
  .meme-generation {
    gap: var(--gap-96xl);
  }
}
@media screen and (max-width: 450px) {
  .meme-generation {
    gap: var(--gap-38xl);
  }
} */
