.nav-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
