.oval-icon {
  height: 4px;
  width: 4px;
  position: relative;
}
.oval {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
}
.showcase-and-embed {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  max-width: calc(100% - 16px);
}
.media-showcase-publish-sell {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.oval-icon1 {
  height: 4px;
  width: 4px;
  position: relative;
}
.oval1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
}
.publish-across-socia {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  max-width: calc(100% - 16px);
}
.media-showcase-publish-sell1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.oval-icon2 {
  height: 4px;
  width: 4px;
  position: relative;
}
.oval2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
}
.sell-your-videos {
  flex: 1;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 279px;
  max-width: 100%;
}
.media-showcase-publish-sell2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.oval-icon3 {
  height: 4px;
  width: 4px;
  position: relative;
}
.oval3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
}
.embed-your-work {
  flex: 1;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 279px;
  max-width: 100%;
}
.media-showcase-publish-sell3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.oval-icon4 {
  height: 4px;
  width: 4px;
  position: relative;
}
.oval4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
}
.embed-your-work1 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.list,
.media-showcase-publish-sell4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.list {
  flex-direction: column;
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .media-showcase-publish-sell2,
  .media-showcase-publish-sell3 {
    flex-wrap: wrap;
  }
}
